<div class="container">
  <div class="text-box">
    <p>Por favor seleccione el equipo que presenta la falla. Si el inconveniente se presenta en más de un servicio seleccione su dispositivo de internet</p>
  </div>
  <div class="content">
    <div *ngIf="dataSource.length==0" class="info">
      <img src="assets/images/info.svg">
      <label>No tiene equipos asociados</label>
    </div>
    <mat-radio-group class="radio-group" [(ngModel)]="selectedEquipment" name="selectedEquipment">
      <mat-radio-button class="radio-button" *ngFor="let data of dataSource" [value]="data">
        <div class="labels">
          <p><b>{{data.type}}</b></p>
          <p>{{data.equipment}}</p>
          <p>{{data.model}}</p>
          <p class="blue-text">Cómo identificar el serial, <span class="blue-link" (click)="seeInformation()">Clic Aquí</span></p>
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <div class="btn-box mt50">
      <app-button class="app-button" (click)="checkEquipment()" buttonClass="{{selectedEquipment==undefined?'btn bg-light-gray':'btn bg-red'}}" buttonDisabled="{{selectedEquipment!=undefined?'false':'true'}}">Continuar</app-button>
      <app-button class="app-button" routerLink="/" buttonClass="btn bg-gray" buttonDisabled="false">Cancelar</app-button>
    </div>
  </div>
</div>
