@import "../../../../../assets/theme/variables.scss";

.migration-form {
  $form: &;

  &__title {
    font-size: 28px;
    color: #5E5E5E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__subtitle {
    p {
      font-size: 16px;
      color: #5E5E5E;
      margin-bottom: 10px;
    }
    a {
      color: #187385;
      text-decoration: underline;
      font-weight: 500;
    }
  }

  .form-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    .width-100 {
      width: 100%;
    }
    p{
      margin-bottom: 0px;
    }
    .mat-icon {
      height: 50px;
      width: 50px;
    }
    strong{
      margin-right: 10px;
      font-size: 16px;
    }
  }

  &__fieldset {
    margin: 4rem 0 1rem;
    p {
      font-weight: 500;
      span {
        color: #d9291c;
      }
    }
  }

  &__control {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;

    label {
      text-align: left;
      font-weight: 500;
      font-size: 16px;
    }

    input {
      border: 1px solid #5E5E5E;
      border-radius: 4px;
      padding: 0.9rem 1rem;
      margin-top: 0.5rem;
      font-size: 14px;
      width: 100%;
    }

    &.control-error {
      input {
        border: 1px solid $red;
      }
      span {
        width: 100%;
        color: $red;
        font-size: 12px;
        display: flex;
        justify-content: center;
      }
    }

  }

  &__button {
    --button-width: 300px;
    --button-radius: 9px;
    --primary-color: #d9291c;
    --button-max-width: 160px;
  }

  &__help {
    display: flex;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #{$form}__button {
      --primary-color: #fff;
      --color: #187385;
      --border-color: #187385;
    }

    .help_links {
      color: #5E5E5E;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
    }

  }
}
