<div class="container">
  <form class="text-box migration-form">

    <div class="migration-form__fieldset">
      <h4 class="migration-form__title">
        Para pasar tu red 3G a 4G debes tener a la mano tu SIM 4G que adquiriste.
      </h4>
      <div class="migration-form__subtitle">
        <p>
          <a routerLink="/migration/help">¿Todavía no tienes una? Aquí te explicamos</a>
        </p>
      </div>
      <div class="migration-form__control">
        <label for="">Número de celular actual *</label>
        <input type="text" name="" placeholder="Escribe tu número de celular actual">
      </div>
    </div>

    <div class="migration-form__fieldset">
      <h4 class="migration-form__title">
        <mat-icon svgIcon="simcard"></mat-icon>
        <span>Número de serial de la SIM 4G</span>
      </h4>
      <div class="migration-form__subtitle">
        <p>Para continuar, confirma la siguiente información de tu <span>SIM Card 4G.</span></p>
      </div>

      <div class="migration-form__control">
        <label for="">Escribe los últimos 12 dígitos de serie de la SIM 4G:</label>
        <div class="input-prefix">
          <strong> 57101 </strong>
          <input type="text" name="">
        </div>
      </div>
    </div>

    <app-button class="migration-form__button">Validar información</app-button>

    <div class="migration-form__help">
      <div class="help_links">
       <p>¿No sabes qué es esto?</p>
       <p>¿Quieres saber cómo funciona?</p>
      </div>
      <app-button class="migration-form__button" routerLink="/migration/help">
        Saber más
      </app-button>
    </div>

  </form>
</div>
