@import "../../../../../assets/theme/variables.scss";

.migration-form {
  $form: &;

  &__title {
    font-size: 24px;
    color: #5E5E5E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__subtitle {
    p {
      font-size: 18px;
      a {
        color: #187385;
        text-decoration: underline;
      }
      span {
        color: #d9291c;
      }
    }
  }

  &__fieldset {
    margin: 4rem 0 1rem;
  }

  &__control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;

    label {
      width: 100%;
    }

    input {
      min-width: 24rem;
      border: 1px solid #5E5E5E;
      border-radius: 4px;
      padding: 0.6rem 1rem;
      margin-top: 0.5rem;
      font-size: 14px;
    }

    &.control-error {
      input {
        border: 1px solid $red;
      }
      span {
        width: 100%;
        color: $red;
        font-size: 12px;
        display: flex;
        justify-content: center;
      }
    }

  }

  &__button {
    --button-width: 300px;
    --button-radius: 9px;
    --primary-color: #d9291c;
    --button-max-width: 160px;
  }

  &__help {
    display: flex;
    justify-content: center;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    max-width: 600px;
    padding: 2rem 0rem;
    margin: 2rem auto;
    gap: 2rem;

    #{$form}__button {
      --primary-color: #fff;
      --color: #187385;
      --border-color: #187385;
    }

    .help_links {
      color: #5E5E5E;
      text-align: left;
    }

  }
}
