@import "../../../../assets/theme/variables.scss";

.btn {
  width: var(--button-width, 100%);
  max-width:var(--button-max-width, inherit);
  border-radius: var(--button-radius, 26px);
  background-color: var(--primary-color, $red);
  outline: 1px solid var(--color, $red);
  color: var(--color, $white);
  border: none;
  font-size: 13px;
  cursor: pointer;
  padding: 13px 20px;
}
