@import "../../../../assets/theme/variables.scss";

.btn {
  width: var(--button-width, 100%);
  max-width:var(--button-max-width, inherit);
  border-radius: var(--button-radius, 10px);
  background-color: var(--primary-color, $red);
  outline: 1px solid var(--border-color, $red);
  color: var(--color, $white);
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 13px 20px;
  font-weight: 500;

  &[disabled] {
    background: #e2d9d9;
    outline-color: #e2d9d9;
  }
}
