@import "../../../../assets/theme/variables.scss";

::ng-deep {
  .mat-dialog-container {
    .mat-dialog-content {
      .modal-dialog {
        &__content {
          &-head {
            text-align: center;
            span {
              color: #0BB07B;
              font-weight: bold;
            }
          }

          &-icon {
            text-align: center;
            @include icon-size(50px);
          }

          &-info {
            color: $red;
            text-align: center;
            padding: 1.4rem 0;
            font-weight: bold;
          }
        }
      }
    }
  }
  .mat-dialog-actions {
    .modal-dialog__actions {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      &-buttons--primary {
        --button-radius: 9px;
        --primary-color: #d9291c;
        --button-max-width: 160px;
      }

      &-buttons--secondary {
        --button-radius: 9px;
        --primary-color: #2D2D2D;
        --border-color: #2D2D2D;
        --button-max-width: 160px;
      }

    }
  }
}
