<div class="container">
  <div class="text-box">
    <p class="bold-title">Validar cuenta</p>
    <p>Hemos enviado un PIN de cuatro (4) dígitos al
      <span *ngIf="contactInfo.contactType=='4'">número de celular</span>
      <span *ngIf="contactInfo.contactType=='1'">correo</span>
    </p>
    <div class="red-box mt30">
      <img src="assets/images/{{contactInfo?.contactType=='1'?'mail-red.svg':'tablet-red.svg'}}" />
      <label class="red-label">{{contactInfo.mask}}</label>
    </div>
  </div>
  <form [formGroup]="pinForm" (ngSubmit)="validatePin()" novalidate class="content">
    <p class="pin-text">PIN de seguridad</p>
    <div class="input-box" max-length-group>
      <input type="number" mask="0" formControlName="pin1" class="mr20" #num1 maxlength="1" [next]="num2" />
      <input type="number" mask="0" formControlName="pin2" class="mr20" #num2 maxlength="1" [prev]="num1" [next]="num3" />
      <input type="number" mask="0" formControlName="pin3" class="mr20" #num3 maxlength="1" [prev]="num2" [next]="num4" />
      <input type="number" mask="0" formControlName="pin4" #num4 [prev]="num3" maxlength="1" />
    </div>
    <div class="text-center">
      <p class="text">¿No recibiste el PIN de seguridad?</p>
      <label class="red-text" (click)="generatePin()">
        <span>Reenviar</span>
        <div class="content-icon">
          <mat-icon matSuffix class="icon-chevron">chevron_right</mat-icon>
        </div>
      </label>
    </div>
    <div class="mt50">
      <app-button
        class="app-button"
        type="submit"
        [disabled]="pinForm.invalid">
        Validar
      </app-button>
    </div>
  </form>
</div>
