@media screen and (min-width: 768px) {
  .content {
    width: 500px;
    .btn-box {
      flex-direction: row;
      .app-button {
        width: 48%;
      }
    } 
  }
  .choose-line__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 80%;
    .btn-box {
      flex-direction: column;
      .app-button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .choose-line__list{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
    flex-direction: column;
  }
}
