$white: #ffffff;
$black: #000;
$main-background-color: #fafafa;
$font-family: Roboto;
$red: #d9291c;
$blue: #187385;
$green: #0bb07b;
$dark-gray: #2d2d2d;
$light-gray: #b9b9b9;

$black-text: #222222;
$gray-border: #cccccc;
