<div class="container">
  <div class="text-box">
    <p>Selecciona la dirección en la cual presentas la falla en tus servicios</p>
  </div>
  <div class="content">
    <div *ngIf="dataSource.length==0" class="info">
      <img src="assets/images/info.svg">
      <label>No tiene cuentas asociadas </label>
    </div>
    <mat-radio-group class="radio-group" [(ngModel)]="selectedAddress" name="selectedAddress">
      <mat-radio-button class="radio-button" *ngFor="let data of dataSource" [value]="data">
        <img src="assets/images/home.svg">
        <div class="labels">
          <p>Cuenta: {{data.cuenta}}</p>
          <p class="bold-text">{{data.direccion}}</p>
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <div class="btn-box mt50">
      <app-button class="app-button" routerLink="/cuenta/equipos" buttonClass="{{selectedAddress==undefined?'btn bg-light-gray':'btn bg-red'}}" buttonDisabled="{{selectedAddress!=undefined?'false':'true'}}">Continuar</app-button>
      <app-button class="app-button" routerLink="/" buttonClass="btn bg-gray" buttonDisabled="false">Cancelar</app-button>
    </div>
  </div>
</div>
