@import "../../../../../assets/theme/variables.scss";
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 25px;
    padding-right: 7px;
  }
  label {
    font-size: 14px;
    font-weight: 500;
    color: $red;
  }
}
.radio-button {
  border-radius: 15px;
  ::ng-deep .mat-radio-label {
    width: 95%;
    .mat-radio-label-content {
      display: flex;
      align-items: center;
      width: 95%;
      .labels {
        width: 85%;
        padding-left: 10px;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          width: 95%;
          margin: 0;
        }
        img {
          width: 26px;
          padding-right: 10px;
        }
      }
    }
  }
}

::ng-deep {
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: transparent !important;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $green; /*inner circle color change*/
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $gray-border; /*outer ring color change*/
  }
}
