@import "../../../../assets/theme/variables.scss";

::ng-deep {
  .mat-dialog-container {
    padding: 15px 24px 15px 24px;
    .mat-dialog-content {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: flex-end;

      .content-icon {
        background: $red;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .mat-icon {
          height: 14px;
          width: 14px;
        }
        .icon-close {
          color: $white;
          font-size: 14px;
        }
      }
      .content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 16px;
        .icon {
          margin-bottom: 15px;
        }
        .title{
          font-weight: bold;
          text-align: center;
          font-size: 18px;
          color: #464646;
        }
        .text {
          font-size: 13px;
          text-align: center;
          letter-spacing: 0px;
          color: $black-text;
          font-family: Roboto;
          margin: 0;
        }
        .red-text{
          color: $red;
        }
        .boldTextRed{
          color: $red;
          font-size: 22px;
        }
      }
    }
  }
  .mat-dialog-actions {
    margin-bottom: 0;
    padding: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .app-button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
