<div class="container">
  <div class="text-box">
    <p>{{title}}</p>
  </div>
  <form [formGroup]="validateForm" (ngSubmit)="validateUser()" novalidate *ngIf="!contact" class="content">
    <label class="field">Tipo de documento</label>
    <mat-select formControlName="documentType" class="mb40">
      <mat-option value=""> Selecciona </mat-option>
      <mat-option *ngFor="let tipo of tiposDocumentosLlave" value="{{getValue(tipo).code}}">
        {{getValue(tipo).label}}
      </mat-option>
    </mat-select>

    <label class="field">Número de documento</label>
    <input matInput type="number" formControlName="documentNumber"/>

    <div class="btn-box mt50">
      <app-button class="app-button" buttonClass="{{validateForm.invalid?'btn bg-light-gray':'btn bg-red'}}" buttonDisabled="{{validateForm.invalid}}">Continuar</app-button>
      <app-button class="app-button" buttonClass="btn bg-gray" buttonDisabled="false">Cancelar</app-button>
    </div>
  </form>

  <div *ngIf="contact" class="content">
    <mat-radio-group class="radio-group" [(ngModel)]="selectedContact">
      <mat-radio-button class="radio-button" *ngFor="let data of contactData" [value]="data">
        <img src="assets/images/{{data.type=='1'?'mail.svg':'tablet.svg'}}" />
        <p>{{data.mask}}</p>
      </mat-radio-button>
    </mat-radio-group>
    <div class="mt50">
      <app-button class="app-button" (click)="continueToGeneratePin()" class="app-button" buttonClass="{{selectedContact==undefined?'btn bg-light-gray':'btn bg-red'}}" buttonDisabled="{{selectedContact!=undefined?'false':'true'}}">Enviar</app-button>
    </div>
  </div>
</div>
