@import "../../../../../assets/theme/variables.scss";
.content {
  .field {
    font-size: 13px;
    letter-spacing: 0px;
    color: $black;
    margin-bottom: 10px;
    font-weight: 500;
  }
  input,
  mat-select {
    background: $white;
    padding: 8px 10px;
    font-size: 13px;
    letter-spacing: 0px;
    outline: none;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    color: $dark-gray;
    height: 38px;
    width: 100%;
  }

  .radio-button {
    border-radius: 29px;
    ::ng-deep .mat-radio-label-content {
      width: 90%;
      display: flex;
      align-items: center;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }
      img {
        height: 27px;
        padding-right: 10px;
      }
    }
  }
}

::ng-deep {
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: transparent !important;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $green; /*inner circle color change*/
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $gray-border; /*outer ring color change*/
  }
}
