@import "../../../../../assets/theme/variables.scss";

.choose-line {
  $item: &;

  h4 {
    margin: 4rem 0;
    font-size: 18px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.4rem;
  }

  #{$item}__item {
    border-radius: 3px;
    border: 1px solid #757575;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    transition: 0.5s;

    &.active {
      border: 1px solid $red;
      #{$item}__item-content {
        color: $red;
      }
    }

    input[type="radio"] {
      display: none;
    }

    &-icon {
      display: flex;
      align-items: center;
      padding-right: 0.7rem;
      @include icon-size(35px);
    }

    &-content {
      font-size: 20px;
    }

  }

  &__actions {
    --button-width: 300px;
    --button-radius: 9px;
    --primary-color: #d9291c;
    --button-max-width: 300px;

    margin: 3rem 0;
  }

}

