<div class="container">
  <div class="text-box">
    <form [formGroup]="pinValidationForm" (ngSubmit)="generatePin()">
      <div class="choose-line">
        <h4>
          Para validar tu identidad tenemos que enviarte un código PIN, hemos encontrado los siguientes canales de validación anexos a tu documento. Elige uno para continuar con el proceso.
        </h4>
        <div
          class="choose-line__list"
          [ngStyle]="{
            'grid-template-columns' : 'repeat(' + templateColumns +', 1fr)'
          }">
          <label
              *ngFor="let contact of contactInfo; index as i"
              class="choose-line__item"
              [ngClass]="{ 'active': chooseLineItem?.value === contact }"
              [attr.for]="['choose-line__item_' + i]">
            <input
              type="radio"
              [attr.id]="['choose-line__item_' + i]"
              formControlName="chooseLineItem"
              [value]="contact"
            >
            <div class="choose-line__item-icon">
              <mat-icon [svgIcon]="getSelectedIcon(contact.type)"></mat-icon>
            </div>
            <div class="choose-line__item-content">
              {{ maskLine(contact.contact, contact.type) }}
            </div>
          </label>
        </div>
        <div class="choose-line__actions">
          <app-button
            class="migration-form__button"
            type="submit"
            [disabled]="!pinValidationForm.valid">
            Continuar
          </app-button>
        </div>
      </div>
    </form>
  </div>
</div>
